<a href="https://colab.research.google.com/github/E-D-W-I-N/BigDataAnalysis/blob/Lab-2/Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Подготовка к выполнению работы

In [45]:
!pip install speedtest-cli

Requirement already satisfied: speedtest-cli in /usr/local/lib/python3.7/dist-packages (2.1.3)

In [46]:
import datetime
import csv
import subprocess

In [47]:
date_time = datetime.datetime.now()
print(date_time, type(date_time))

2021-04-08 14:27:28.515011 <class 'datetime.datetime'>

In [48]:
date_time.strftime('%a, %d %b %Y %H:%M:%S')

'Thu, 08 Apr 2021 14:27:28'

Метка времени с преобразованием результата в строку в формате: ГГГГ-ММ-ДД ЧЧ: ММ: СС

In [49]:
date_time.strftime('%Y-%m-%d %H:%M:%S')

'2021-04-08 14:27:28'

#Выполнение работы

In [50]:
speedtest_cmd = "speedtest-cli --simple"
process = subprocess.Popen(speedtest_cmd.split(), stdout=subprocess.PIPE)
process_output = process.communicate()[0]

In [51]:
print(process_output, type(process_output))

b'Ping: 13.622 ms\nDownload: 1910.86 Mbit/s\nUpload: 695.24 Mbit/s\n' <class 'bytes'>

In [52]:
date_time = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
process_output = process_output.split()
process_output.append(date_time)
print(process_output, type(process_output))

[b'Ping:', b'13.622', b'ms', b'Download:', b'1910.86', b'Mbit/s', b'Upload:', b'695.24', b'Mbit/s', '2021-04-08 14:27:32'] <class 'list'>

In [53]:
def speedtest():
    date_time = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    speedtest_cmd = "speedtest-cli --simple"
    process = subprocess.Popen(speedtest_cmd.split(), stdout=subprocess.PIPE)
    process_output = process.communicate()[0]
    process_output = process_output.split()
    process_output.append(date_time)
    return process_output

In [54]:
speedtest()

[b'Ping:',
 b'13.693',
 b'ms',
 b'Download:',
 b'1853.16',
 b'Mbit/s',
 b'Upload:',
 b'704.30',
 b'Mbit/s',
 '2021-04-08 14:27:32']

In [55]:
results = speedtest()
print(results, type(results))

[b'Ping:', b'13.077', b'ms', b'Download:', b'1875.93', b'Mbit/s', b'Upload:', b'695.04', b'Mbit/s', '2021-04-08 14:27:37'] <class 'list'>

In [56]:
with open("/tmp/test.txt", "w") as f:
    f.write('test_msg')

In [57]:
!cat /tmp/test.txt

test_msg

In [58]:
with open("/tmp/test.txt", "r") as f:
    str = f.read()
print(str)

test_msg

In [59]:
def save_to_csv(data, filename):
    try:
        with open(filename + '.csv', 'a') as f:
            wr = csv.writer(f)
            wr.writerow(data)
    except:
        with open(filename + '.csv', 'w') as f:
            wr = csv.writer(f)
            wr.writerow(data)

In [60]:
def print_from_csv(filename):
    with open(filename + '.csv', 'r') as f:
        re = csv.reader(f)
        for row in re:
            print(row)

#Процедура проведения измерений и сбора данных

In [61]:
for i in range(5):
    speedtest_output = speedtest()
    print('Test number {}'.format(i))
    print(speedtest_output)
    save_to_csv(speedtest_output, '/tmp/rpi_data_test')

Test number 0
[b'Ping:', b'13.469', b'ms', b'Download:', b'1905.47', b'Mbit/s', b'Upload:', b'705.11', b'Mbit/s', '2021-04-08 14:27:41']
Test number 1
[b'Ping:', b'13.449', b'ms', b'Download:', b'866.42', b'Mbit/s', b'Upload:', b'710.07', b'Mbit/s', '2021-04-08 14:27:46']
Test number 2
[b'Ping:', b'13.446', b'ms', b'Download:', b'856.23', b'Mbit/s', b'Upload:', b'687.64', b'Mbit/s', '2021-04-08 14:27:52']
Test number 3
[b'Ping:', b'13.439', b'ms', b'Download:', b'1882.47', b'Mbit/s', b'Upload:', b'711.77', b'Mbit/s', '2021-04-08 14:27:59']
Test number 4
[b'Ping:', b'13.454', b'ms', b'Download:', b'1892.30', b'Mbit/s', b'Upload:', b'713.52', b'Mbit/s', '2021-04-08 14:28:03']

In [62]:
print_from_csv('/tmp/rpi_data_test')

["b'Ping:'", "b'15.102'", "b'ms'", "b'Download:'", "b'1534.78'", "b'Mbit/s'", "b'Upload:'", "b'196.63'", "b'Mbit/s'", '2021-04-08 14:17:24']
["b'Ping:'", "b'14.069'", "b'ms'", "b'Download:'", "b'843.00'", "b'Mbit/s'", "b'Upload:'", "b'604.68'", "b'Mbit/s'", '2021-04-08 14:17:34']
["b'Ping:'", "b'13.255'", "b'ms'", "b'Download:'", "b'1881.96'", "b'Mbit/s'", "b'Upload:'", "b'692.52'", "b'Mbit/s'", '2021-04-08 14:17:40']
["b'Ping:'", "b'12.409'", "b'ms'", "b'Download:'", "b'1780.15'", "b'Mbit/s'", "b'Upload:'", "b'700.06'", "b'Mbit/s'", '2021-04-08 14:17:45']
["b'Ping:'", "b'12.841'", "b'ms'", "b'Download:'", "b'1950.73'", "b'Mbit/s'", "b'Upload:'", "b'719.37'", "b'Mbit/s'", '2021-04-08 14:17:49']
["b'Ping:'", "b'13.469'", "b'ms'", "b'Download:'", "b'1905.47'", "b'Mbit/s'", "b'Upload:'", "b'705.11'", "b'Mbit/s'", '2021-04-08 14:27:41']
["b'Ping:'", "b'13.449'", "b'ms'", "b'Download:'", "b'866.42'", "b'Mbit/s'", "b'Upload:'", "b'710.07'", "b'Mbit/s'", '2021-04-08 14:27:46']
["b'Ping:'", "b'13.446'", "b'ms'", "b'Download:'", "b'856.23'", "b'Mbit/s'", "b'Upload:'", "b'687.64'", "b'Mbit/s'", '2021-04-08 14:27:52']
["b'Ping:'", "b'13.439'", "b'ms'", "b'Download:'", "b'1882.47'", "b'Mbit/s'", "b'Upload:'", "b'711.77'", "b'Mbit/s'", '2021-04-08 14:27:59']
["b'Ping:'", "b'13.454'", "b'ms'", "b'Download:'", "b'1892.30'", "b'Mbit/s'", "b'Upload:'", "b'713.52'", "b'Mbit/s'", '2021-04-08 14:28:03']

#Обработка данных

In [63]:
import datetime
import csv
import pandas as pd

In [64]:
!head -n 5 rpi_data_long.csv

Ping:,26.992,ms,Download:,91.80,Mbit/s,Upload:,14.31,Mbit/s,2016-11-24 13:36:25
Ping:,24.532,ms,Download:,88.19,Mbit/s,Upload:,14.12,Mbit/s,2016-11-24 13:36:55
Ping:,20.225,ms,Download:,59.86,Mbit/s,Upload:,14.11,Mbit/s,2016-11-24 13:37:25
Ping:,19.332,ms,Download:,91.81,Mbit/s,Upload:,14.22,Mbit/s,2016-11-24 13:37:57
Ping:,22.494,ms,Download:,92.05,Mbit/s,Upload:,14.08,Mbit/s,2016-11-24 13:38:27

In [65]:
data_file = 'rpi_data_long.csv'

In [66]:
column_names = ['Type A', 'Measure A', 'Unit A',
                'Type B', 'Measure B', 'Unit B',
                'Type C', 'Measure C', 'Unit C',
                'Datetime']

In [67]:
with open(data_file, 'r') as f:
    df_redundant = pd.read_csv(f, names = column_names)

In [68]:
df_redundant.head()

  Type A Measure A Unit A  ... Measure C  Unit C             Datetime
0  Ping:    26.992     ms  ...     14.31  Mbit/s  2016-11-24 13:36:25
1  Ping:    24.532     ms  ...     14.12  Mbit/s  2016-11-24 13:36:55
2  Ping:    20.225     ms  ...     14.11  Mbit/s  2016-11-24 13:37:25
3  Ping:    19.332     ms  ...     14.22  Mbit/s  2016-11-24 13:37:57
4  Ping:    22.494     ms  ...     14.08  Mbit/s  2016-11-24 13:38:27

[5 rows x 10 columns]

In [69]:
df_compact = df_redundant.copy()

In [70]:
df_compact.rename(columns={'Measure A': 'Ping (ms)',
                           'Measure B': 'Download (Mbit/s)',
                           'Measure C': 'Upload (Mbit/s)'}, inplace=True)
df_compact.head(3)

  Type A Ping (ms) Unit A  ... Upload (Mbit/s)  Unit C             Datetime
0  Ping:    26.992     ms  ...           14.31  Mbit/s  2016-11-24 13:36:25
1  Ping:    24.532     ms  ...           14.12  Mbit/s  2016-11-24 13:36:55
2  Ping:    20.225     ms  ...           14.11  Mbit/s  2016-11-24 13:37:25

[3 rows x 10 columns]

In [71]:
df_compact.drop(['Type A', 'Type B', 'Type C',
                 'Unit A', 'Unit B', 'Unit C'], axis=1, inplace=True)
df_compact.head()

  Ping (ms) Download (Mbit/s)  Upload (Mbit/s)             Datetime
0    26.992             91.80            14.31  2016-11-24 13:36:25
1    24.532             88.19            14.12  2016-11-24 13:36:55
2    20.225             59.86            14.11  2016-11-24 13:37:25
3    19.332             91.81            14.22  2016-11-24 13:37:57
4    22.494             92.05            14.08  2016-11-24 13:38:27

In [72]:
df_compact['Date'] = df_compact['Datetime'].apply(lambda dt_str: pd.to_datetime(dt_str).date())

In [73]:
temp = df_compact['Datetime'].apply(lambda dt_str: pd.to_datetime(dt_str))
df_compact['Time'] = temp.dt.time

In [74]:
df_compact.drop('Datetime', axis=1, inplace=True)
df_compact.head()

  Ping (ms) Download (Mbit/s)  Upload (Mbit/s)        Date      Time
0    26.992             91.80            14.31  2016-11-24  13:36:25
1    24.532             88.19            14.12  2016-11-24  13:36:55
2    20.225             59.86            14.11  2016-11-24  13:37:25
3    19.332             91.81            14.22  2016-11-24  13:37:57
4    22.494             92.05            14.08  2016-11-24  13:38:27

In [75]:
print(df_compact['Date'][0], type(df_compact['Date'][0]))
print(df_compact['Time'][0], type(df_compact['Time'][0]))

2016-11-24 <class 'datetime.date'>
13:36:25 <class 'datetime.time'>

In [76]:
df_compact.to_csv('rpi_data_compact.csv')